*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-color: pink;
}

.balloon{
    position: absolute;
    width: 100px;
    height: 110px;
    border-radius: 50%;
    background-color:rgba(206, 33, 36, 0.4);
    animation: move-up 20s linear infinite ;
}


/* بند بادکنک */
.balloon::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 150px;
    background-color:rgba(255, 255, 255, 0.4);
    top: 110px;
    left: 50px;

}

/* مثلث پایین بادکنک */
.balloon::after{
    position: absolute;
    content: '';
    border-bottom: 12px solid rgb(202, 7, 7);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 109px;
    left: 40px;
}

.balloon:nth-child(2){
    left: 80px;
    background-color:rgba(146, 255, 127, 0.4);
    animation-duration: 8s;
}

.balloon:nth-child(2)::after{
    border-bottom: 12px solid rgb(159, 198, 159);
}

.balloon:nth-child(3){
    left:150px;
    background-color:rgba(255, 196, 0, 0.623);
     animation-duration: 13s;
}

.balloon:nth-child(3)::after{
    border-bottom: 12px solid rgba(245, 232, 114, 0.784);
}

.balloon:nth-child(4){
    left:230px;
    background-color:rgba(95, 111, 255, 0.623);
     animation-duration: 17s;
}

.balloon:nth-child(4)::after{
    border-bottom: 12px solid blue;
}

.balloon:nth-child(5){
    left:315px;
    background-color:rgba(255, 98, 0, 0.623);
     animation-duration: 10s;
}

.balloon:nth-child(5)::after{
    border-bottom: 12px solid orange;
}

.balloon:nth-child(6){
    left:400px;
    background-color:rgba(255, 43, 163, 0.623);
     animation-duration: 7s;
}

.balloon:nth-child(6)::after{
    border-bottom: 12px solid rgb(242, 60, 157);
}

.balloon:nth-child(7){
    left:490px;
    background-color:rgba(202, 68, 255, 0.623);
     animation-duration: 6s;
}

.balloon:nth-child(7)::after{
    border-bottom: 12px solid rgb(226, 82, 226);
}

.balloon:nth-child(8){
    left:580px;
    background-color:rgba(47, 255, 0, 0.623);
     animation-duration: 14s;
}

.balloon:nth-child(8)::after{
    border-bottom: 12px solid rgb(82, 202, 82);
}

@keyframes move-up{
    from{
        transform:translateY(100vh);
    }

    to{
        transform:translateY(-120vh);
    }
}